:root {
  color-scheme: dark;
  --bg: #ffffff;
  --bg-dark: #000000;
  --outline: #ffffff;
  --font:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: var(--bg-dark);
  font-family: var(--font);
}